<%- include('header'); -%>

    <div class="container-app">

        <div id="navbar">
            <div class="row">
                <div class="col col-md-8">
                    <h3 id="appLogo"><img src="asset/logo.png" alt="logo" width="50px;">Sharing Web App</h3>
                </div>
                <div class="col col-md-4">
                    <ul>
                        <li><a class="btn btn-danger" href="/signup">Sign Up</a></li>
                        <li><a class="btn btn-outline-danger" href="/login">Log In</a></li>
                    </ul>
                </div> 
            </div>
            
            <!-- <ul>
                <li><a class="btn btn-info" href="#">Sign Up</a></li>
                <li><a class="btn btn-outline-info" href="#">Log In</a></li>
            </ul> -->
        </div>

        <div id="main">
            <div class="row">
                <div class="col col-md-1"></div>
                <div class="col col-md-4.5">
                    <p class="main-text">Share your expenses with your <%= friends %></p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio deserunt 
                        cupiditate quibusdam obcaecati alias voluptatibus blanditiis dolorem, 
                        cumque possimus neque?</p> <br>
                    <a class="btn btn-danger btn-lg" href="/signup">Sign Up</a> 
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
                <div class="col col-md-1"></div>
                <div class="col col-md-4.5">
                    <img src="asset/friends.png" alt="friends" width="500px">
                </div>
                <div class="col col-md-1"></div>
            </div>
        </div>

        <div id="content1">
            <h4>Track Expenses</h4>
            <p class="c1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                Sequi rerum eius quibusdam tenetur et veniam beatae eos animi ipsa adipisci.
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab vel porro accusamus molestias iusto eos suscipit commodi! 
            Non eos voluptas laborum cumque nisi.</p>
            <img class="img1" src="asset/p1.jpg" />
        </div>

        <div id="content2">
            <h4>Share with People</h4>
            <p class="d1">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque quo 
                doloremque laboriosam voluptas labore eius. Delectus nesciunt sed omnis illum!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Id voluptas accusantium quo minus animi rerum dolore facilis 
            libero ducimus deserunt nemo tempore nulla enim, quis, recusandae esse natus cum sint.</p>
        </div>

        <div id="content3">
            <div class="containerFlex">
                <div class="flex-box">
                    <p>Instagram said on Thursday it is testing new options for users to verify their age on the platform, starting with people in the United States.</p>
                    <a class="flex-link" href="https://edition.cnn.com/2022/06/23/tech/instagram-age-verification-tool/index.html"><h3>- CNN</h3></a>
                </div>
                <div class="flex-box">
                    <p>Twitter is trialling a new feature allowing users to share "notes" as long as 2,500 words.</p>
                    <br>
                    <a class="flex-link" href="https://www.bbc.com/news/business-61904522"><h3>- BBC</h3></a>
                </div>
                <div class="flex-box">
                    <p>Instagram said on Thursday it is testing new options for users to verify their age on the platform, starting with people in the United States.</p>
                    <a class="flex-link" href="#"><h3>- CNN</h3></a>
                </div>
                <div class="flex-box">
                    <p>Instagram said on Thursday it is testing new options for users to verify their age on the platform, starting with people in the United States.</p>
                    <a class="flex-link" href="#"><h3>- CNN</h3></a>
                </div>
                <div class="flex-box">
                    <p>Instagram said on Thursday it is testing new options for users to verify their age on the platform, starting with people in the United States.</p>
                    <a class="flex-link" href="#"><h3>- CNN</h3></a>
                </div>
                <div class="flex-box">
                    <p>Instagram said on Thursday it is testing new options for users to verify their age on the platform, starting with people in the United States.</p>
                    <a class="flex-link" href="#"><h3>- CNN</h3></a>
                </div>
            </div>
            
        </div>

        <div id="feedback">
            <p id="f">What we offer in pro</p>
            <div id="fdiv" class="row">
                <div class="col col-md-1"></div>
                <div class="col col-md-3">
                    <p><img src="asset/link.png" width="18px"><span id="c3ps">Lorem ipsum dolor sit amet.</span></p>
                    <p><img src="asset/link.png" width="18px"><span id="c3ps">Lorem ipsum dolor sit amet.</span></p>
                    <p><img src="asset/link.png" width="18px"><span id="c3ps">Lorem ipsum dolor sit amet.</span></p>
                    <p><img src="asset/link.png" width="18px"><span id="c3ps">Lorem ipsum dolor sit amet.</span></p>
                    <p><img src="asset/link.png" width="18px"><span id="c3ps">Lorem ipsum dolor sit amet.</span></p>
                    <p><img src="asset/link.png" width="18px"><span id="c3ps">Lorem ipsum dolor sit amet.</span></p>
                    <p><img src="asset/link.png" width="18px"><span id="c3ps">Lorem ipsum dolor sit amet.</span></p>
                    <p><img src="asset/link.png" width="18px"><span id="c3ps">Lorem ipsum dolor sit amet.</span></p>
                </div>
                <div class="col col-md-0.5"></div>
                <div class="col col-md-3">
                    <p><img src="asset/link.png" width="18px"><span id="c3ps">Lorem ipsum dolor sit amet.</span></p>
                    <p><img src="asset/link.png" width="18px"><span id="c3ps">Lorem ipsum dolor sit amet.</span></p>
                    <p><img src="asset/link.png" width="18px"><span id="c3ps">Lorem ipsum dolor sit amet.</span></p>
                    <p><img src="asset/link.png" width="18px"><span id="c3ps">Lorem ipsum dolor sit amet.</span></p>
                    <p><img src="asset/link.png" width="18px"><span id="c3ps">Lorem ipsum dolor sit amet.</span></p>
                    <p><img src="asset/link.png" width="18px"><span id="c3ps">Lorem ipsum dolor sit amet.</span></p>
                    <p><img src="asset/link.png" width="18px"><span id="c3ps">Lorem ipsum dolor sit amet.</span></p>
                    <p><img src="asset/link.png" width="18px"><span id="c3ps">Lorem ipsum dolor sit amet.</span></p>
                </div>
                <div class="col col-md-0.5"></div>
                <div class="col col-md-3">
                    <p><img src="asset/link.png" width="18px"><span id="c3ps">Lorem ipsum dolor sit amet.</span></p>
                    <p><img src="asset/link.png" width="18px"><span id="c3ps">Lorem ipsum dolor sit amet.</span></p>
                    <p><img src="asset/link.png" width="18px"><span id="c3ps">Lorem ipsum dolor sit amet.</span></p>
                    <p><img src="asset/link.png" width="18px"><span id="c3ps">Lorem ipsum dolor sit amet.</span></p>
                    <p><img src="asset/link.png" width="18px"><span id="c3ps">Lorem ipsum dolor sit amet.</span></p>
                    <p><img src="asset/link.png" width="18px"><span id="c3ps">Lorem ipsum dolor sit amet.</span></p>
                    <p><img src="asset/link.png" width="18px"><span id="c3ps">Lorem ipsum dolor sit amet.</span></p>
                    <p><img src="asset/link.png" width="18px"><span id="c3ps">Lorem ipsum dolor sit amet.</span></p>
                </div>
                <div class="col col-md-1"></div>
            </div>  
            <p id="c3pf">Sign Up for Pro and get exclusive offers now.</p>
        </div>

        <div id="footer">
            <a href="https://www.flaticon.com/free-icons/chain" title="chain icons">Chain icons created by Freepik - Flaticon</a>
        </div>
    </div>
</body>
</html>