<%- include('header'); -%>

<div class="container-app">

    <div id="navbar">
        <div class="row">
            <div class="col col-md-8">
                <h3 id="appLogo"><img src="asset/logo.png" alt="logo" width="50px;">Sharing Web App</h3>
            </div>
            <div class="col col-md-4">
                <ul>
                    <li><a class="btn btn-danger" href="/signup">Sign Up</a></li>
                    <li><a class="btn btn-outline-danger" href="/login">Log In</a></li>
                </ul>
            </div> 
        </div>
        
        <!-- <ul>
            <li><a class="btn btn-info" href="#">Sign Up</a></li>
            <li><a class="btn btn-outline-info" href="#">Log In</a></li>
        </ul> -->
    </div>